<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eligendi at quo libero soluta debitis eveniet in rem qui, repellat dolore nihil corporis quod, suscipit dolor animi labore! Nobis, tenetur.</p>
      <p>subscribe 
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p> 
    </div>
		<div class="footer-social">
			<ul>
				<li>
					<a href="http://www.twitter.com/{{ site.twitter_username }}">
						<img src="/images/twitter.png" alt="twitter logo" width="40">
					</a>
				</li>
				<li>
					<a href="http://www.github.com/{{ site.github_username }}">
						<img src="/images/github.png" alt="github logo" width="40">
					</a>
				</li>
				<li>
					<a href="http://plus.google.com/{{ site.google_username }}">
						<img src="/images/google.png" alt="google logo" width="40">
					</a>
				</li>
			</ul>
		</div>
  </div>
</footer>
