<li class="project">
	<a href="{{ project.url }}">
		<figure>
			<img src="{{ project.featured_image }}" alt="thumbnail for {{ project.title }}">
			<figcaption class="project-caption">
					{{ project.title }}
			</figcaption>
		</figure>
	</a>
</li>


{% comment %}<li class="project">
	<a href="{{ project.url }}">
		<figure>
			<img 
				src="{{ project.featured_image }}" 
				alt="project placeholder">
			<figcaption class="project-caption">
			{{ project.title }}
			</figcaption>
		</figure>
	</a>
</li>
{% endcomment %}