.site-nav {
    text-align: center;
    ul {
        margin: 1em 0;
        list-style:none;
    }
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
}
.site-title {
    color: #000;
    text-decoration: none;
}
.site-header {
    padding: 2rem 0 0;
    border-bottom: 1px solid #ccc;
    background: url('/images/header-bg2.png');
    background-size: 400px 400px;
}

.site-footer {
    width: 100%;
    position: absolute;

    background: #262426;
    color: #eee;


    .footer-content {
        position: relative;
        padding: 1.5rem;
        display: inline-block;
        width: 40%;
        font-size: 0.875em;
        float: right;
    }
    h3 {
        text-align: left;
    }
    .footer-social {
        float: right;
        li {
            display: inline-block;
            margin: 0;
        }
    }
}